body {
	background-color: #00bfff;
} 
.titlefont {
	font-family: rammetto-one;
	font-size: 60px;
	color:#ffffff;
}
.menufont {
	font-family: concert-one;
	font-size: 45px;
	color:#00617f;
}
.animefont {
    filter:alpha(opacity=01);
    -moz-opacity: 0.01;
    opacity: 0.01;

	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
	font-size: 45px;
}
.subtitle {
	font-size: 20px;
}
#anime1, #anime2 {
	width: 500px;
}

li{
	list-style-type:none;
	cursor: pointer;
	margin-bottom: 10px;
}

.submenu{
	font-size: 30px;
	margin-bottom: 15px;
}

.content_title{
	font-family: concert-one;
	font-size: 30px;
}
.subs li{
	margin-bottom: 10px;
}
#title {
	margin-top:100px;
	margin-left:60px;
	float:left;
}

#menus {
    padding-top: 5px;  
	margin-left:680px;
	width: 235px
	
}

#contents {
	margin-top:20px;
	margin-left:22px;
    padding-top: 30px;  
    padding-left: 20px; 
    padding-right: 10px;  
	width: 660px;
	height: 450px;
	background-color: #00bfff;
	float:left;
	overflow: auto; 
	
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    -khtml-border-radius: 24px; 
    border-radius: 24px;
	
	
	
}
.contentsfont {
    	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
	color: #050060;
}
.iseer {
	margin-top:40px;
	margin-left:10px;
}
.shirotest {
	color: #ffffff;
}
.hibi {
	position: absolute;
	top: 100px;
	width:250px;
	z-index: -1;
}
